include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include auto_assignment *.css
recursive-include auto_assignment *.csv
recursive-include auto_assignment *.html
recursive-include auto_assignment *.ico
recursive-include auto_assignment *.js
recursive-include auto_assignment *.json
recursive-include auto_assignment *.md
recursive-include auto_assignment *.png
recursive-include auto_assignment *.py
recursive-include auto_assignment *.svg
recursive-include auto_assignment *.txt
recursive-exclude auto_assignment *.pyc